.logo-div {
  margin-top: 10%;
  margin-left: 30%;
}

@media only screen and (max-width: 600px) {
  .logo-img {
    margin-top: 200px;
    margin-right: 25%;
  }
}

@media only screen and (min-width: 750px) {
  .logo-div {
    margin-top: 30%;
    margin-left: 15%;
  }
}

@media only screen and (min-width: 1000px) {
  .logo-div {
    margin-top: 25%;
    margin-left: 20%;
  }
}

@media only screen and (min-width: 1100px) {
  .logo-div {
    margin-top: 10%;
    margin-left: 25%;
  }
}

@media only screen and (min-width: 1200px) {
  .logo-div {
    margin-top: 10%;
    margin-left: 30%;
  }
}
